<h1>UserPag</h1>


<h2>企業リスト</h2>
<p>
  企業ごとの進捗を確認します。
</p>


<% @coms.each do |d| %>
  <p>
    ----------<br>
    会社名：<%= d.name %><br>
    メモ　：<%= d.memo %><br>
    URL1 ：<%= d.url1 %><br>
    URL2 ：<%= d.url2 %><br>
    <%= link_to '削除', './' %>
    <%= link_to '経過を追加', './' %>
    <%= link_to '新しい会社', './' %>
    <br>
    ----------<br>
  </p>
<% end %>
